/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  display: inline-block;
  width: 100%;
  margin: var(--base-spacing) 0;
  box-sizing: content-box; /* 1 */
  height: 1px; /* 1 */
  border: none;
  background-color: var(--base-border-color);
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}