/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}


/*
 * Text links
 */

a {
  color: var(--base-font-color);
  text-decoration: underline;
  transition: color var(--base-duration) var(--base-timing);
}

a:hover {
  color: var(--hover-link-color);
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

 ::-moz-selection {
  background: var(--base-accent-color);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--base-accent-color);
  color: white;
  text-shadow: none;
}


/*
 * Accessibly Hiding Focus Outlines
 * https://css-irl.info/accessibly-hiding-focus-outlines/
 */

.focus-outline *:focus {
  outline: var(--base-focus);
  outline-offset: var(--base-outline-offset); 
}

.no-focus-outline *:focus {
  outline: none;
}