h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 calc(var(--base-spacing) / 2);
  line-height: var(--header-line-height);
  font-weight: normal;
}

h1 {
  font-size: var(--xlarge-font-size);
}

h2 {
  font-size: var(--large-font-size);
}

h3 {
  font-size: var(--medium-font-size);
}

p {
  margin: 0 0 var(--base-spacing);
}