<aside id="filter" class="filter" data-filter-container>

  <!-- Close -->
  <div class="filter__close">
    <button class="button" aria-pressed="false" data-close-filter>
      <span class="visually-hidden">Close</span>
      {{ partial "components/icon" (dict "name" "close" "size" "24" "align" "right") }}
    </button>
  </div>

  <!-- Search -->
  <div class="filter__section filter__section--search search">
    <h3 class="filter__title">Filter by keyword</h3>
    <label for="search-input">Name</label>
    <input name="search" id="search-input" type="text" class="search__input" data-search>
    <button class="button button--icon search__clear" data-clear-search>
      {{ partial "components/icon" (dict "name" "close" "size" "16") }}
    </button>
  </div>

  <!-- Context -->
  <div class="filter__section filter__section--context">
    <h3 class="filter__title">Filter by context</h3>
    <ul class="filter__list">
      {{ range $key, $value := .Context.Site.Taxonomies.categories }}
      <li>
        <button class="filter__item button" aria-pressed="false" data-filter="context">{{ $key | humanize | title }}</button>
      </li>
      {{ end }}
    </ul>
  </div>

  <!-- Tags -->
  <div class="filter__section filter__section--tags">
    <h3 class="filter__title">Filter by tag</h3>
    <ul class="filter__list">
      {{ range $key, $value := .Context.Site.Taxonomies.tags }}
      <li>
        <button class="filter__item button" aria-pressed="false" data-filter="tag">{{ $key | humanize | title }}</button>
      </li>
      {{ end }}
    </ul>
  </div>

</aside>