<li 
  class="list__item"
  data-context="{{ range .Params.categories }}{{ . | humanize | title }}{{ end }}"
  data-tags="{{ range $i, $e := .Params.tags }}{{ if ne $i 0 }} {{ end }}{{ . | humanize | title }}{{ end }}">

  <!-- Title -->
  <h3 class="list__item-section list__item-section--title title" data-label="Name">{{ .Title }}</h3>

  <!-- Context -->
  <div class="list__item-section list__item-section--context" data-label="Category">
    <span>{{ range .Params.categories }}{{ . | humanize | title }}{{ end }}</span>
  </div>

  <!-- Tags -->
  <div class="list__item-section list__item-section--tags" data-label="Tags">
    <span>
      {{- range $i, $e := .Params.tags -}}
      {{ if ne $i 0 }}, {{ end }}
      {{ . | humanize | title }}
      {{- end -}}
    </span>
  </div>

  <!-- Info -->
  <div id="#{{ .Title | urlize}}-info" class="list__item-section list__item-section--info">

    <!-- Description -->
    <div class="list__item-meta list__item-meta--desc">
      <h4 class="list__item-title">Description</h4>
      <p>{{ .Description | markdownify }}</p>
    </div>

    <!-- Further Reading -->
    <div class="list__item-meta list__item-meta--reading">
      <h4 class="list__item-title">Futher Reading</h4>
      <ul>
        {{ range .Params.reading }}
        <li>
          <a href="{{ . }}">
            {{ . }}
            {{ partial "components/icon" (dict "name" "arrow-diagonal" "size" "16" "align" "right") }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

  </div>
  
</li>