<ul class="list-header" data-list-header>
  <li class="list-header__item list-header__item--name">
    <button class="button button--border" data-toggle-filter="search" aria-controls="#filter">
      Keyword{{ partial "components/icon" (dict "name" "search" "size" "18" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__context">
    <button class="button button--border" data-toggle-filter="context" aria-controls="#filter">
      Category{{ partial "components/icon" (dict "name" "filter" "size" "18" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__item--tags">
    <button class="button button--border" data-toggle-filter="tag" aria-controls="#filter">
      Tag{{ partial "components/icon" (dict "name" "filter" "size" "18" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__item--clear">
    <button class="button button--border" data-clear-filters="0" aria-controls="#filter">Clear</button>
  </li>
</ul>