{{ $page := .Page }}
{{ $class := .Class | default "" }}
<li
  class="list__item{{ if $class }} {{ $class }}{{ end }}"
  data-context="{{ range $page.Params.categories }}{{ . | humanize | title }}{{ end }}"
  data-tags="{{ range $i, $e := $page.Params.tags }}{{ if ne $i 0 }} {{ end }}{{ . | humanize | title }}{{ end }}">

  <!-- Title -->
  <h3 class="list__item-section list__item-section--title title">
    <span class="list__item-marker"></span>{{ $page.Title }}
  </h3>

  <!-- Description -->
  <div id="#{{ $page.Title | urlize}}-info" class="list__item-section list__item-section--info">
    <div class="list__item-meta list__item-meta--desc desc">
      <h4 class="list__item-title">Description</h4>
      <p>{{ $page.Description | markdownify }}</p>
    </div>
  </div>

  <!-- More Info Toggle -->
  <div class="list__item-section list__item-section--toggle">
    <button class="button button--min button--toggle" data-toggle aria-expanded="false">
      <span class="button__icon--default">More Info {{ partial "components/icon" (dict "name" "caret-down" "size" "12" "align" "right") }}</span>
      <span class="button__icon--active">Less Info {{ partial "components/icon" (dict "name" "caret-up" "size" "12" "align" "right") }}</span>
    </button>
  </div>

  <!-- More Info Content -->
  <div class="list__item-more">

    <!-- How It Occurs / How to Avoid -->
    {{ if or $page.Params.how_it_occurs $page.Params.how_to_avoid }}
    <div class="list__item-section list__item-section--info list__item-section--how">
      {{ if $page.Params.how_it_occurs }}
      <div class="list__item-meta list__item-meta--how">
        <h4 class="list__item-title">How It Occurs</h4>
        <ul>
          {{ range $page.Params.how_it_occurs }}<li>{{ . }}</li>{{ end }}
        </ul>
      </div>
      {{ end }}
      {{ if $page.Params.how_to_avoid }}
      <div class="list__item-meta list__item-meta--how">
        <h4 class="list__item-title">How to Avoid</h4>
        <ul>
          {{ range $page.Params.how_to_avoid }}<li>{{ . }}</li>{{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    {{ end }}

    <!-- Context / Tags -->
    <div class="list__item-section list__item-section--meta">
      <div class="list__item-section list__item-section--context" data-label="Category">
        <span>{{ range $page.Params.categories }}{{ . | humanize | title }}{{ end }}</span>
      </div>
      <div class="list__item-section list__item-section--tags" data-label="Tags">
        <span>
          {{- range $i, $e := $page.Params.tags -}}
          {{ if ne $i 0 }}, {{ end }}
          {{ . | humanize | title }}
          {{- end -}}
        </span>
      </div>
    </div>

    <!-- Further Reading -->
    <div class="list__item-section list__item-section--info">
      <div class="list__item-meta list__item-meta--reading">
        <h4 class="list__item-title">Further Reading</h4>
        <ul>
          {{ range $page.Params.reading }}
          <li>
            <a href="{{ . }}">
              {{ partial "components/icon" (dict "name" "arrow-diagonal" "size" "16" "align" "left") }}
              {{ . }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

  </div>

</li>