<ul class="list-header" data-list-header>

  <!-- Name -->
  <li class="list-header__item list-header__item--name">
    <div class="search">
      <label for="search-input" class="visually-hidden">Name</label>
      <div class="search__field">
        <input name="search" id="search-input" type="text" class="search__input" data-search placeholder="Search by Keyword...">
        <button class="button button--icon search__clear" data-clear-search>
          {{ partial "components/icon" (dict "name" "close" "size" "16") }}
        </button>
      </div>
    </div>
  </li>

  <!-- Filter Toggle -->
  <li class="list-header__item list-header__item--filter">
    <button class="button button--border" data-toggle-filter="all" data-active-filters="0" aria-controls="#filter">
      {{ partial "components/icon" (dict "name" "filter" "size" "18" "align" "left") }}
      Filter
    </button>
  </li>

  <!-- Clear Button -->
  <li class="list-header__item list-header__item--clear">
    <button class="button" data-clear-filters="0" aria-controls="#filter">Clear Filters</button>
  </li>

</ul>