<ul class="list-header" data-list-header>
  <li class="list-header__item list-header__item--name">
    <button class="button" data-toggle-filter="search">
      Name
      {{ partial "components/icon" (dict "name" "search" "size" "24" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__context">
    <button class="button" data-toggle-filter="context">
      Context
      {{ partial "components/icon" (dict "name" "filter" "size" "24" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__item--tags">
    <button class="button" data-toggle-filter="tag">
      Tag
      {{ partial "components/icon" (dict "name" "filter" "size" "24" "align" "right") }}
    </button>
  </li>
  <li class="list-header__item list-header__item--clear">
    <button class="button" data-clear-filters>
      Clear
      {{ partial "components/icon" (dict "name" "close" "size" "16" "align" "right") }}
    </button>
  </li>
</ul>