<header class="header" role="banner">

  <!-- Site Title -->
  <a href="/" class="header__title">{{ .Site.Title }}</a>

  <!-- Site Navigation -->
  {{ partial "site/navigation" . }}

  <!-- Theme Toggle -->
  <button class="header__theme-toggle button button--toggle" aria-pressed="false" data-theme-toggle>
    <span class="visually-hidden">Dark Mode</span>
    <span class="button__icon button__icon--default">{{ partial "components/icon" (dict "name" "mode-dark" "size" "24" "align" "right") }}</span>
      <span class="button__icon button__icon--active">{{ partial "components/icon" (dict "name" "mode-light" "size" "24" "align" "right") }}</span>
  </button>

</header>