<header class="header" role="banner">

  <!-- Site Title -->
  <a class="header__title" href="/">
    <span class="header__logo">
        {{ partial "components/icon" (dict "name" "logo" "size" "24" "align" "left") }}
    </span>
    {{ .Site.Title }}
  </a>

  <!-- Site Navigation -->
  {{ partial "site/navigation" . }}

  <!-- Utility Navigation -->
  <nav class="header__utility-nav" role="navigation">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.utility }}
      <li>
        <a
          class="{{ if or ($currentPage.IsMenuCurrent `utility` .) ($currentPage.HasMenuCurrent `utility` .) }}is-active{{ end }}"
          href="{{ .URL }}"
          title="{{ .Name }}"
          data-page-link>{{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  <!-- Theme Toggle -->
  <button class="header__theme-toggle button button--toggle" aria-pressed="false" data-theme-toggle>
    <span class="visually-hidden">Dark Mode</span>
    <span class="button__icon button__icon--default">{{ partial "components/icon" (dict "name" "mode-dark" "size" "24" "align" "right") }}</span>
      <span class="button__icon button__icon--active">{{ partial "components/icon" (dict "name" "mode-light" "size" "24" "align" "right") }}</span>
  </button>

</header>