@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
}

.fadeOutUp {
  animation: fadeOutUp var(--base-duration) var(--base-timing);

  @media (prefers-reduced-motion: reduce) {
    animation: fadeOut var(--base-duration) var(--base-timing);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp var(--base-duration) var(--base-timing);

  @media (prefers-reduced-motion: reduce) {
    animation: fadeIn var(--base-duration) var(--base-timing);
  }
}
