:root {

  /* Default Color mode */
  --color-mode: 'light';


  /* Breakpoints */
  --breakpoint-medium: 35em;
  --breakpoint-large: 50em;


  /* Layout */
  --base-max-width: 100em; /* 1600px */
  --base-grid-columns: repeat(6, minmax(0, 1fr));
  --large-grid-columns: repeat(8, minmax(0, 1fr));
  --base-gap: calc(var(--base-spacing) * 2);
  --base-outer-padding: calc(var(--base-spacing) * 2);


  /* Colors */
  --color-black: #14151A;
  --color-mid-grey: #858999;
  --color-off-white: #EEEDE9;
  --color-blue: #542bff;


  /* Links */
  --base-accent-color: var(--color-blue);
  --hover-link-color: var(--base-accent-color);


  /* Background */
  --base-background-color: var(--color-off-white);
  --secondary-background-color: var(--color-black);
  --tertiary-background-color: var(--color-mid-grey);


  /* Font Sizes (3:4 / Perfect Forth) */
  /* https://www.modularscale.com/?1&em&1.333 */
  --small-font-size: 0.85em;
  --base-font-size: 1em;
  --medium-font-size: 1.333em;
  --large-font-size: 2.369em;
  --xlarge-font-size: 3.157em;


  /* Text Settings */
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif;
  --secondary-font-family: Consolas, monaco, monospace;
  --base-font-color: var(--color-black);
  --secondary-font-color: var(--color-off-white);
  --base-line-height: 1.4;
  --header-line-height: 1.2;
  --min-font-size: var(--base-font-size);
  --max-font-size: var(--xlarge-font-size);


  /* Animation Settings */
  --base-duration: .3s;
  --base-timing: cubic-bezier(0.645, 0.045, 0.355, 1.000);


  /* Borders */
  --base-border-color: var(--color-mid-grey);
  --base-border: 1px solid var(--base-border-color);
  --hover-border: 1px solid currentColor;
  --base-focus: 2px solid var(--base-accent-color);
  --base-outline-offset: 0.125em;
  --base-border-radius: .4rem;


  /* Box Shadows */
  --base-box-shadow: 0 1px 2px 0px rgba(0,0,0,.25);
  --hover-box-shadow: 0 2px 10px 1px rgba(0,0,0,.5);


  /* Spacing */
  --base-spacing: 1rem;


  /* Header */
  --base-header-height: calc(var(--base-spacing) * 4);
  
}


/* 
 * States 
 */

/* Dark Mode */
:root[data-color-mode="dark"] {
  --base-font-color: var(--secondary-font-color);
  --base-background-color: var(--secondary-background-color);
}

/* User preference theming */
@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
  :root.no-js {
    --base-font-color: var(--secondary-font-color);
    --base-background-color: var(--secondary-background-color);
  }
}