{{ define "main" }}
<article>
  
  <!-- Introduction -->
  {{ partial "components/banner" . }}

  {{ if eq .Title "Search" }}
    <section id="biases">
      <h2 class="visually-hidden">Biases</h2>

      <!-- List Header -->
      {{ partial "components/list-header" }}

      <!-- List Results -->
      <div id="biases-results"></div>

      <!-- List -->
      <ul class="list">
        {{ range where .Site.RegularPages "Section" "biases" }}
        {{ partial "components/list-item" . }}
        {{ end }}
      </ul> 

      <!-- Pagination -->
      <ul id="pagination" class="pagination"></ul>
    </section>
    {{ partial "components/filter" (dict "Context" .) }}
  {{ end }}

  {{ .Content }}

</article>
{{ end }}