/* 
 * Parent
 */

.banner {
  display: grid;
  grid-template-columns: var(--base-grid-columns);
  grid-column-gap: var(--base-gap);
  align-items: center;
  margin-top: calc(var(--base-spacing) * -1);
}


/* 
 * Elements
 */

.banner__body {
  grid-column: 1 / -1;
  margin-top: var(--base-spacing);

  @media (--breakpoint-small) {
    grid-column: 1 / 5;
  }
}

.banner__title {
  max-width: 8ch;
  margin-bottom: calc(var(--base-spacing) * 2);
  font-weight: 600;
  line-height: 0.9;
  font-size: var(--xlarge-font-size);
  letter-spacing: -0.03em;
}

.banner__desc {
  font-size: var(--medium-font-size);
}

.banner__graphic {
  display: none;

  @media (--breakpoint-small) {
    display: block;
    grid-column: 5 / -1;
  }
}

.banner__graphic svg {
  stroke: currentColor;
}

.banner__subtitle {
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--tertiary-font-color);
}

.banner__list {
  margin: 0;
  list-style: none;
}

/* States */
.banner__list button.is-active {
  text-decoration: underline;
}