/* 
 * Parent
 */

.banner {
  position: relative;
  display: grid;
  grid-template-columns: var(--base-grid-columns);
  grid-column-gap: var(--base-gap);
  align-items: center;
  margin-top: calc(var(--base-spacing) * -1);
  margin-bottom: 0;
  color: var(--color-off-white);
}

/* Banner backgroud */
.banner::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--base-accent-color);
  z-index: -1;
}


/* 
 * Elements
 */

.banner__body {
  grid-column: 1 / -1;
  margin-top: var(--base-spacing);

  @media (--breakpoint-small) {
    grid-column: 1 / 5;
  }
}

.banner__body a {
  color: var(--color-off-white);
}

.banner__title {
  margin-bottom: var(--base-spacing);
  font-weight: 600;
  line-height: 0.9;
  font-size: var(--xlarge-font-size);
  letter-spacing: -0.03em;
}

.banner__desc {
  font-size: var(--medium-font-size);
}

.banner__graphic {
  display: none;

  @media (--breakpoint-small) {
    display: block;
    grid-column: 5 / -1;
  }
}

.banner__graphic svg {
  stroke: var(--color-off-white);
}

.banner__subtitle {
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.5;
}

.banner__list {
  margin: 0;
  list-style: none;
}

/* States */
.banner__list button.is-active {
  text-decoration: underline;
}