.banner {
  display: grid;
  grid-template-columns: var(--base-grid-columns);
  grid-column-gap: var(--base-gap);
  align-items: center;
  margin-top: calc(var(--base-spacing) * -2);
}

.banner__desc,
.banner__title {
  grid-column: 1 / -1;
  margin-top: calc(var(--base-spacing) * 2);

  @media (--breakpoint-small) {
    grid-column: 1 / 4;
  }
}

.banner__title {
  font-size: var(--xlarge-font-size);
  font-weight: 700;
  max-width: 8ch;
  line-height: 1;
}

.banner__graphic {
  display: none;
  padding: 0 calc(var(--base-spacing) * 2);

  @media (--breakpoint-small) {
    display: block;
    grid-column: 4 / -1;
  }
}

.banner__graphic svg {
  stroke: currentColor;
}