/* 
 * Parent
 */

 .button {
  position: relative;
  display: inline-block;
  padding: calc(var(--base-spacing) / 3) calc(var(--base-spacing) / 2);
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  font-weight: normal;
  color: currentColor;
  border: none;
  background: none;
  text-decoration: none;
  transition: border var(--base-duration) var(--base-timing),
              color var(--base-duration) var(--base-timing);
  cursor: pointer;
}

/* States */
.button:hover {
}


/* 
 * Elements
 */

/* Prevent child elements from capturing event */
.button > * {
  pointer-events: none;
}


/* 
 * Modifiers
 */

.button--min {
  padding: calc(var(--base-spacing) / 3) 0;
}

.button--border {
  border: var(--base-border);
  border-radius: var(--base-border-radius);
}

/* Toggle Button */
.button[aria-expanded="false"] .button__icon--active,
.button[aria-pressed="false"] .button__icon--active {
  display: none;
}

.button--toggle[aria-expanded = "true"] > .button__icon--default,
.button--toggle[aria-pressed = "true"] > .button__icon--default {
  display: none;
}

.button--toggle[aria-expanded = "true"] > .button__icon--active,
.button--toggle[aria-pressed = "true"] > .button__icon--active {
  display: inline-block;
}