/* 
 * Parent
 */

.no-js .filter {
  display: none;
}

.filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transform: translate3d(100%, 0, 0);
  transition: transform var(--base-duration) var(--base-timing);
  width: 16rem;
  padding: var(--base-spacing);
  background-color: var(--secondary-background-color);
  color: var(--secondary-font-color);

  @media (--breakpoint-small) {
    width: 16rem;
  }
}

/* 
 * Elements
 */

.filter__section {
  margin-bottom: var(--base-spacing);
}

.filter__title {
  display: inline-block;
  margin-bottom: 0;
  line-height: var(--base-line-height);
  cursor: pointer;
  font-size: var(--small-font-size);
}

.filter__list {
  margin: 0;
  list-style: none;
}

.filter__toggle {
  padding: calc(var(--base-spacing) / 2) 0;
}

/* Modifiers */

.filter__section--clear {
  font-size: var(--small-font-size);
}

/* States */
.filter.is-active {
  transform: translate3d(0,0,0);
}

.filter__item.is-active  {
  text-decoration: underline;
}