/* 
 * Parent
 */

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  transition: fill var(--base-duration) var(--base-timing);
  pointer-events: none;
}


/* 
 * Modifiers
 */

.icon--left {
  margin-right: calc(var(--base-spacing) / 5);
}

.icon--right {
  margin-left: calc(var(--base-spacing) / 5);
}