/*
 * Parent 
 */

.list-header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--base-spacing);
  width: 100%;
  list-style: none;
  background: transparent;
}

/* Banner backgroud */
.list-header::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px; /* Adjust for 1px gap above */
  width: 100vw;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}


/*
 * Elements 
 */

.list-header__item .button {
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/*
 * Modifiers 
 */


.list-header__item--filter .button,
.list-header__item--clear .button {
  width: 100%;
  justify-content: center;
}

.list-header__item--clear:not(:has(.is-active)) {
  display: none;
}

/* Active filter count on filter toggle */
.list-header__item--filter button[data-active-filters]:not([data-active-filters="0"])::after {
  content: attr(data-active-filters);
  margin-left: calc(var(--base-spacing) / 2);
  color: var(--color-dark-grey);
}

