/*
 * Parent 
 */

.list-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: calc(var(--small-font-size) / 2) 0;
  list-style: none;
  background-color: var(--base-background-color);

  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: var(--base-grid-columns);
    grid-column-gap: var(--base-gap);
    margin: var(--base-spacing) 0;
  }
}


/*
 * Modifiers 
 */

.list-header__item--name {
  grid-column: span 2;
}

.list-header__item--tags {
  grid-column: 5;
}

.list-header__item--clear {
  justify-self: end;
}

.list-header__item--clear button {
  visibility: hidden;
}

/* Filter count */
.list-header__item--clear button:after {
  content: attr(data-clear-filters);
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: calc(var(--base-spacing) / 4);
  line-height: 1.2rem;
  font-size: var(--small-font-size);
  vertical-align: middle;
  border: var(--base-border);
  border-radius: 50%;
}

/* States */
.list-header__item--clear button.is-active {
  visibility: visible;
}