/*
 * Parent 
 */

.list-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--base-spacing) 0;
  margin: 0;
  list-style: none;
  background: var(--base-background-color);

  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: var(--base-grid-columns);
    grid-column-gap: var(--base-gap);
  }
}

/* Banner backgroud */
.list-header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--base-accent-color);
  z-index: -1;
}


/*
 * Elements 
 */

.list-header__item .button {
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


/*
 * Modifiers 
 */

.list-header__item--name {
  grid-column: span 2;
}

.list-header__item--tags {
  grid-column: 5;
}

.list-header__item--clear {
  justify-self: end;
}

.list-header__item--clear button {
  visibility: hidden;
}

/* Filter count */
.list-header__item--clear button:after {
  content: attr(data-clear-filters);
  display: inline-block;
  height: 18px; /* Match height of filter icons */
  margin-left: calc(var(--base-spacing) / 4);
  vertical-align: middle;
  position: relative;
  top: 1px;

  @media (--breakpoint-large) {
    top: -1px;
  }
}

/* States */
.list-header__item--clear button.is-active {
  visibility: visible;
}