/* 
 * Parent
 */

.list {
  margin: 0 0 calc(var(--base-spacing) * 2);
}


/* 
 * Elements
 */

.list__item {
  position: relative;
  display: grid;
  grid-template-columns: var(--base-grid-columns);
  grid-column-gap: var(--base-gap);
  align-items: start;
  margin: 0;
  border-top: var(--base-border);
  padding: calc(var(--base-spacing) / 2) 0;
}

.list__item-section {
  grid-column: 1 / -1;

  @media (--breakpoint-small) {
    grid-column: span 1;
  }
}

.list__item-title {
  margin: 0 0 calc(var(--base-spacing) / 3);
  font-size: var(--small-font-size);
}

.list__item-section ul li {
  display: inline-block;
}

.list__item-section p,
.list__item-section ul {
  margin: 0;
}


/* 
 * Modifiers
 */

.list__item-section--title::before,
.list__item-section--context::before,
.list__item-section--tags::before {
  content: attr(data-label);
  display: block;
  margin-bottom: calc(var(--base-spacing) / 4);
  font-size: var(--small-font-size);

  @media (--breakpoint-small) {
    display: none;
  }
}

.list__item-section--title,
.list__item-section--context {
  @media (--breakpoint-small) {
    grid-column: span 2;
  }
}

.list__item-section + .list__item-section {
  margin-top: calc(var(--base-spacing) / 2);

  @media (--breakpoint-small) {
    margin: 0;
  }
}

.list__item-section--title {
  margin: 0;
  line-height: var(--base-line-height);
  font-size: var(--medium-font-size);
}

.list__item-section--toggle {
  font-size: var(--small-font-size);
  justify-self: start;
  padding: var(--base-spacing) 0;

  @media (--breakpoint-small) {
    justify-self: end;
    padding: var(--base-spacing);
    margin-top: calc(var(--base-spacing) * -1 / 1.5);
  }
}

.list__item-section--info {

  /* Enable links to wrap */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  @media (--breakpoint-small) {
    grid-column: 3 / -1;
  }
}

.list__item-section--info > * {
  margin-bottom: var(--base-spacing);
}