/**
 * Parent
 */

 .media {
  position: relative;
  margin: calc(var(--base-spacing) * 2) 0;
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  overflow: hidden;

  @media (--breakpoint-small) {
    display: flex;
    align-items: center;
  }
}


/**
 * Elements
 */

.media__item {
  height: auto;
  margin-bottom: var(--base-spacing);

  @media (--breakpoint-small) {
    margin-bottom: 0;
  }
}

.media__body {
  padding: var(--base-spacing);
}

.media__body > p {
  max-width: 32ch;
}

.media__body > *:last-child {
  margin: 0;
}