.message {
  margin: 0 0 var(--base-spacing);
  padding: 0 var(--base-spacing);
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  color: var(--base-accent-color);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}