.search {
  position: relative;
}

.search__clear {
  display: none;
  position: absolute;
  bottom: calc(var(--base-spacing) / 1.4);
  right: calc(var(--base-spacing) / 2);
}


/* States */
.search.is-active .search__clear {
  display: block;
}