.search {
  position: relative;
}

.search__field {
  position: relative;
}

.search__input {
  font-size: var(--small-font-size);
}

.search__clear {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


/* States */
.search__field.is-active .search__clear {
  visibility: visible;
}