{{ define "main" }}

  <!-- Introduction -->
  <section class="banner">
    <div class="banner__body">
      <p class="banner__desc">{{ .Site.Params.description }}</p>
    </div>
    <div class="banner__graphic" data-graphic>
      {{ readFile "static/images/graphic.svg" | safeHTML }}
    </div>
  </section>

  <!-- Biases -->
  <section id="biases">
    <h2 class="visually-hidden">Biases</h2>

    <!-- Sidebar -->
    <div class="biases__sidebar">

      <!-- List Header -->
      {{ partial "components/list-header" }}

    </div>

    <!-- Main -->
    <div class="biases__main">

      <!-- List Results -->
      <div id="biases-results"></div>

      <!-- List -->
      <ul class="list">
        {{ range where .Site.RegularPages "Section" "biases" }}
        {{ partial "components/list-item" (dict "Page" . "Class" "card") }}
        {{ end }}
      </ul>

      <!-- Pagination -->
      <ul id="pagination" class="pagination"></ul>

    </div>

  </section>

  <!-- Filter -->
  {{ partial "components/filter" (dict "Context" .) }}

{{ end }}