/* 
 * Parent
 */

.no-js .filter {
  display: none;
}

.filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transform: translate3d(100%, 0, 0);
  transition: transform var(--base-duration) var(--base-timing);
  width: 16rem;
  padding: var(--base-spacing);
  background-color: var(--color-dark-blue);
  color: var(--secondary-font-color);
  overflow: auto;

  @media (--breakpoint-small) {
    width: 24rem;
  }
}

/* States */
.filter.is-active {
  transform: translate3d(0,0,0);
}


/* 
 * Elements
 */

.filter__section {
  display: none;
}

.filter__title {
  display: block;
  margin-bottom: calc(var(--base-spacing) * 2);
  line-height: var(--base-line-height);
  cursor: pointer;
  opacity: 0.5
}

.filter__list {
  margin: 0;
  list-style: none;
}

.filter__toggle {
  padding: calc(var(--base-spacing) / 2) 0;
}

.filter__item {
  padding: calc(var(--base-spacing) / 2) 0;
  
  @media (--breakpoint-small) {
    font-size: var(--medium-font-size);
  }
}

.filter__close {
  position: absolute;
  top: calc(var(--base-spacing) / 1.5);
  right: var(--base-spacing);
  z-index: 1;
}

.filter input {
  --hover-border: 1px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
}

/* 
 * Modifers
 */

.filter__section--clear {
  font-size: var(--small-font-size);
}

/* States */

.filter[data-filter-section="context"] .filter__section--context,
.filter[data-filter-section="search"] .filter__section--search,
.filter[data-filter-section="tag"] .filter__section--tags {
  display: block;
}

.filter__item.is-active  {
  text-decoration: underline;
}