/* 
 * Parent
 */

.header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: var(--base-spacing) 0;
  margin-bottom: var(--base-spacing);

  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: var(--base-grid-columns);
    grid-column-gap: var(--base-gap);
  }
}


/* 
 * Elements
 */

.header__nav {
  grid-column: 1 / 5;
  margin-right: auto;

  @media (--breakpoint-small) {
    margin-right: 0;
  }
}

.header__nav ul {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--base-gap);
}

.header__nav a {
  text-decoration: none;
}

.header__share {
  position: relative;
  grid-column: 5 / 6;
  margin-right: var(--base-spacing);
}

.header__share-content {
  display: none;
  position: absolute;
  left: calc(var(--base-spacing) / 2 * -1);
  padding: calc(var(--base-spacing) / 2);
  list-style: none;
  background-color: var(--base-background-color);
}

.header__theme-toggle {
  grid-column: 6 / 7;
  justify-self: end;
}

/* States */
.header__share-toggle[aria-expanded="true"] + .header__share-content {
  display: block;
}

.no-js .header__theme-toggle {
  display: none;
}

.header__nav a.is-active {
  text-decoration: underline;
}