/* 
 * Parent
 */

.header {
  position: relative;
  z-index: 1;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}


/* 
 * Elements
 */

.header a {
  padding: var(--base-spacing) 0;
  font-family: var(--secondary-font-family);
  font-size: var(--small-font-size);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--base-font-color);
}

.header__nav {
  margin-left: auto;
}

.header__nav ul {
  margin: 0;
  list-style: none;
}

.header__nav li {
  display: inline-block;
}

.header__theme-toggle {
  grid-column: 6 / 7;
  justify-self: end;
}

/* States */
.no-js .header__theme-toggle {
  display: none;
}

.header__nav a.is-active {
  text-decoration: underline;
}